<form class="form-horizontal" role="form">
    <fieldset>
        <legend>Customer Information</legend>
        <div class="form-group">
            <label for="fullName" class="col-sm-2 control-label">Full Name</label>
            <div class="col-sm-4">
                <input type="text" id="fullName" name="fullName" class="form-control"
                       ng-model="customer.fullName"/>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">email</label>
            <div class="col-sm-4">
                <input type="text" id="email" name="email" class="form-control"
                       ng-model="customer.email"/>
            </div>
        </div>
    </fieldset>
    <br />
    <fieldset>
        <legend>Subscription Details</legend>
        <div class="form-group">
            <label for="subscriptionType" class="col-sm-2 control-label">Subscription Type</label>
            <div class="col-sm-4">
                <select name="subscriptionType" id="subscriptionType" class="formcontrol"
                        ng-model="customer.subscriptionType"
                        ng-options="subs for subs in subscriptionType">     
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4">
                <span><b>Details</b></span>
                <div class="checkbox">
                    <label><input type="checkbox" value="isSubscribed" 
                                   ng-model="customer.isSubscribed"/>Subscribed Customer</label>
                </div>
                <br />
            </div>
        </div>
    </fieldset>

    <div class="col-sm-offset-2 col-sm-4">
        <input type="submit" value="Submit" class="btn btn-primary" 
               ng-click="submitForm()"/>
    </div>

</form>